In [41]:
import requests
import pandas as pd
import numpy as np
from keras.utils import np_utils
from keras.models import Sequential
from keras.layers import Dense,Activation,Convolution2D,MaxPooling2D,Flatten
from keras.optimizers import Adam
from keras.applications.vgg16 import VGG16,preprocess_input,decode_predictions
from keras.preprocessing import image
from PIL import Image
import urllib

## 讀取照片URL

In [3]:
#讀取照片URL
photo=pd.read_csv('PHOTOURL.csv')
photo.head()

      pid      uid                                                url
0   15048  188@N25  https://www.flickr.com/photos/7563597@N08/1378...
1    9624   25@N92  https://www.flickr.com/photos/7626362@N07/1251...
2  665085  275@N38  https://www.flickr.com/photos/7690920@N06/8633...
3  664375  275@N38  https://www.flickr.com/photos/7690920@N06/8625...
4  664376  275@N38  https://www.flickr.com/photos/7690920@N06/8625...

In [38]:
#下載圖片 (一次下載50張訓練)
# def download(i):
#     folder_path='./picture/'
#     ii=i+2
#     for r in range(i,i+50):
#         url=photo['url'][r]
#         pic=requests.get(url)
#         img=pic.content
#         name=folder_path+'%d'%(ii)+'.png'
#         pic_out=open(name,'wb')
#         pic_out.write(img)
#         pic_out.close()
#     f=open('./picture')
folder_path='./picture/'
i=2
url=photo['url'][0]
pic=requests.get(url)
img=pic.content
name='%d'%(i)+'.png'
pic_out=open(name,'wb')
pic_out.write(img)
pic_out.close()


# def rebuild_img(u, sigma, v, p): 
#     print (p)
#     m = len(u)
#     n = len(v)
#     a = np.zeros((m, n))
    
#     count = (int)(sum(sigma))
#     curSum = 0
#     k = 0
#     while curSum <= count * p:
#         uk = u[:, k].reshape(m, 1)
#         vk = v[k].reshape(1, n)
#         a += sigma[k] * np.dot(uk, vk)
#         curSum += sigma[k]
#         k += 1
#     print ('k:',k)
#     a[a < 0] = 0
#     a[a > 255] = 255
#     return np.rint(a).astype("uint8")

# for p in np.arange(0.1, 1, 0.1):
#         u, sigma, v = np.linalg.svd(a[:, :, 0])
#         R = rebuild_img(u, sigma, v, p)
        
#         u, sigma, v = np.linalg.svd(a[:, :, 1])
#         G = rebuild_img(u, sigma, v, p)
        
#         u, sigma, v = np.linalg.svd(a[:, :, 2])
#         B = rebuild_img(u, sigma, v, p)
        
#         I = np.stack((R, G, B), 2)
#         print(I)

In [ ]:
#CNN
model=Sequential()
#layer1
model.add(Convolution2D(32,(5,5),border_mode='same',input_shape(3,128,128)))
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size=(2,2),strides=(2,2),border_mode='same'))
#layer2
model.add(Convolution2D(64,(5,5),border_mode='same'))
model.add(Activation('relu'))
model.add(MaxPooling2D(pool_size=(2,2),border_mode='same'))

model.add(Flatten())
model.add(Dense(128))
model.add(Activation('relu'))
model.add(Dense(1))
model.add(Activation('relu'))

model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [40]:
test_image = image.load_img('2.png', target_size = (128, 128))
test_image = image.img_to_array(test_image)
test_image = np.expand_dims(test_image, axis = 0)
test_image

OSError: cannot identify image file '2.png'

In [ ]:
# VGG16
model_v=VGG16(weight='imagenet',includ_top=True)
for img in

## 讀取時間

In [12]:
#讀取時間
time=pd.read_csv('tIMEFLAG.csv')
time.head()

      pid      uid  year  month  day  hour_index
0   15048  188@N25  2001      7   17           0
1    9624   25@N92  2004      5   27           5
2  665085  275@N38  2004     11    3           0
3  664375  275@N38  2004     11    3           0
4  664376  275@N38  2004     11    3           0

In [13]:
#切割月份
bins=[1,3,6,9,12]
label=['1-3','4-6','7-9','10-12']
time['month_class']=pd.cut(time['month'],bins,include_lowest=True,labels=label)

      pid      uid  year  month  day  hour_index month_class
0   15048  188@N25  2001      7   17           0         7-9
1    9624   25@N92  2004      5   27           5         4-6
2  665085  275@N38  2004     11    3           0       10-12
3  664375  275@N38  2004     11    3           0       10-12
4  664376  275@N38  2004     11    3           0       10-12

## 讀取USER_META

In [16]:
# 讀取USER_META
user=pd.read_csv('USER_META.csv')
# 刪除haspeople
user.drop('haspeople',axis=1,inplace=True)
user.head()

,pid,uid,titlelen,deslen,tagcount,avgview,groupcount,avgmembercount
0,15048,188@N25,18,29,0,175.43,683,7442
1,9624,25@N92,20,32,0,36.66,5,51404
2,665085,275@N38,27,0,0,17.21,35,5687
3,664375,275@N38,27,0,0,17.21,35,5687
4,664376,275@N38,25,0,0,17.21,35,5687